.c-timemask {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.5);
}
.c-timeselect {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 297px;
  overflow: hidden;
  box-sizing: border-box;
  z-index: 101;
  background-color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
          flex-direction: column;
}
.c-timeopa {
  padding: 0 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  font-size: 16px;
  color: #108ee9;
  border-bottom: 1px #ddd solid;
}
.c-timebton {
  width: 60px;
  height: 26px;
  line-height: 26px;
  padding: 10px 0;
}
.c-timebton:last-child {
  text-align: right;
}
.c-timetitle {
  color: #1B1C20;
}
.c-timecont {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
  padding: 6px 0;
  height: 238px;
  overflow: hidden;
}
.c-timewrap {
  text-align: center;
}
.c-time-shade {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 102px;
  z-index: 1;
  background-repeat: no-repeat;
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.5));
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.5));
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}
.c-time-shade:after {
  content: " ";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 136px;
  background-repeat: no-repeat;
  background-image: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.5));
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.5));
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}
.c-time-indicator {
  border: #d0d0d0 solid;
  border-width: 1px 0;
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 34px;
  top: 102px;
  box-sizing: border-box;
  z-index: 2;
}
.c-time-ul {
  font-size: 16px;
}
.c-time-ul .c-time-li {
  height: 34px;
  line-height: 34px;
  color: #1B1C20;
}
.timemask-enter {
  opacity: 0.1;
}
.timemask-enter.timemask-enter-active {
  opacity: 1;
  -webkit-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
}
.timemask-appear {
  opacity: 0.1;
}
.timemask-appear.timemask-appear-active {
  opacity: 1;
  -webkit-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
}
.timemask-exit {
  opacity: 1;
}
.timemask-exit.timemask-exit-active {
  opacity: 0.1;
  -webkit-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
}
.timecont-enter {
  -webkit-transform: translate3d(0, 100%, 0);
          transform: translate3d(0, 100%, 0);
}
.timecont-enter.timecont-enter-active {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform 300ms ease-in-out;
  transition: -webkit-transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
}
.timecont-appear {
  -webkit-transform: translate3d(0, 100%, 0);
          transform: translate3d(0, 100%, 0);
}
.timecont-appear.timecont-appear-active {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform 300ms ease-in-out;
  transition: -webkit-transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
}
.timecont-exit {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.timecont-exit.timecont-exit-active {
  -webkit-transform: translate3d(0, 100%, 0);
          transform: translate3d(0, 100%, 0);
  -webkit-transition: -webkit-transform 300ms ease-in-out;
  transition: -webkit-transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
}
